.container {
  max-width: 1340px;
  width: 100%;
  padding: 0 5px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  z-index: 1;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  gap: 10px;
}

.navbar .left,
.navbar .right,
.navbar .right .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbar .logo {
  width: 91px;
  height: 30px;
}

.navbar .left .category {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}

.navbar .center {
  width: 100%;
  position: relative;
}

.navbar .center .src {
  width: 100%;
  height: 46px;
  padding-left: 50px;
  background-color: #f7f9fa;
  border: 1px solid black;
  border-radius: 9999px;
  outline: none;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.navbar .center i {
  position: absolute;
  left: 0;
  top: 0;
  height: 46px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right i {
  font-size: 17px;
}
.navbar .right img {
  width: 28px;
  height: 28px;
}
.navbar .right .button-wrapper button {
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.navbar .right .button-wrapper .login {
  border: 1px solid black;
  font-weight: 700;
  background: none;
}
.navbar .right .button-wrapper .login:hover,
.navbar .right .button-wrapper .globe:hover {
  background-color: #f5f5f5;
}

.navbar .right .button-wrapper .sign {
  border: 1px solid black;
  font-weight: 700;
  background: black;
  color: #fff;
}
.navbar .right .button-wrapper .sign:hover {
  background-color: #1f1f1f;
}
.navbar .right .button-wrapper .globe {
  width: 40px;
  height: 40px;
  background: none;
  border: 0.4px solid black;
}

/* Header end */

/* .page -1  */
.page-1 .slider {
  max-width: 1340px;
  position: relative;
  margin: auto;
}

.page-1 .slider .slider-wrapper {
  display: flex;
  overflow: hidden;
}
/*  */
.page-1 .slider .slider-wrapper .slide {
  height: 400px;
  transition: 1s;
  overflow: hidden;
  position: relative;
}
.page-1 .slider .slider-wrapper .slimg {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
/*  */
.page-1 .slider .button-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  padding: 0 20px;
}
.page-1 .slider .button-wrapper button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.page-1 .slider .button-wrapper button:hover {
  background-color: #2f2f2f;
}

.page-1 .slider .slider-wrapper .content {
  width: 400px;
  height: 270px;
  padding: 24px;
  background-color: #fff;
  position: absolute;
  top: 24px;
  left: 48px;
}
.page-1 .slider .slider-wrapper .slide.slide2 .content {
  height: 150px;
}
.page-1 .slider .slider-wrapper .content span {
  font-size: 2em;
  font-weight: 600;
  font-family: "Bitter", serif;
  display: inline-block;
  margin-bottom: 15px;
}
.page-1 .slider .slider-wrapper .content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.page-1 .slider .slider-wrapper .content a {
  margin-top: 20px;
  height: 48px;
  background-color: #202020;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0 12px;
}

.page-1 .slider .slider-wrapper .content a:hover{
    background-color: #000;
}

@media (max-width: 1080px) {
  .del:first-child {
    display: none;
  }
}

@media (max-width: 980px) {
  .page-1 .slider .slider-wrapper .content {
    height: 240px;
  }
  .page-1
    .slider
    .slider-wrapper
    .content
    span:not(.slide.slide2 .content span) {
    font-size: 1.5em;
  }
}

@media (max-width: 920px) {
  .del {
    display: none;
  }
}
