header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  z-index: 1;
  height: 72px;
  background-color: #fff;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  gap: 10px;
}

.navbar .left,
.navbar .right,
.navbar .right .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbar .logo a {
  display: inline-block;
  width: 91px;
  height: 35px;
}

.navbar .logo img {
  width: 100%;
  height: auto;
}

.navbar .left .category {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}

.navbar .center {
  width: 100%;
  position: relative;
}

.navbar .center .src {
  width: 100%;
  height: 46px;
  padding-left: 50px;
  background-color: #f7f9fa;
  border: 1px solid black;
  border-radius: 9999px;
  outline: none;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.navbar .center i {
  position: absolute;
  left: 0;
  top: 0;
  height: 46px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right i {
  font-size: 17px;
}
.navbar .right ul li img {
  width: 28px;
  height: 71px;
}
.navbar .right .button-wrapper button {
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.navbar .right .button-wrapper .login {
  border: 1px solid black;
  font-weight: 700;
  background: none;
}
.navbar .right .button-wrapper .login:hover,
.navbar .right .button-wrapper .globe:hover {
  background-color: #f5f5f5;
}

.navbar .right .button-wrapper .sign {
  border: 1px solid black;
  font-weight: 700;
  background-color: #1b1a1a;
  color: #fff;
}
.navbar .right .button-wrapper .sign:hover {
  background-color: #000;
}
.navbar .right .button-wrapper .globe {
  width: 40px;
  height: 40px;
  background: none;
  border: 0.4px solid black;
}

/* ! li start */
.category {
  display: flex;
  flex-direction: column;
  position: relative;
}
.gorunmez {
  position: absolute;
  top: -10px;
  left: 0;
  width: 110%;
  text-indent: -9999px;
  height: 40px;
  z-index: -1;
}
.category-display-pop-up {
  padding-top: 20px;
  min-width: 260px;
  height: 620px;
  padding: 5px 0;
  position: absolute;
  top: 75px;
  left: 0;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  display: none;
  animation: popup 1s;
  z-index: 1;
}

.category-display-pop-up li a i {
  font-size: 11px;
}

.category-display-pop-up li a {
  font-size: 13.4px;
  min-width: 204px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  color: #1c1d1f;
}
.category-display-pop-up li a:hover,
.category:hover {
  color: #5624d0;
}

.popup-dvlp {
  height: 620px;
  padding: 5px 0;
  position: absolute;
  left: 259px;
  top: 0;
  background-color: #fff;
  display: none;
  border-left: 1px solid #d1d7dc;
}
.popup-dvlp a {
  display: block;
  min-width: 250px !important;
}
.popup-dvlp i {
  margin-left: 20px;
}
.popup-dvlp li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#dvlp:hover .popup-dvlp {
  display: block;
}

/* ! li end */

/*! right-popUP */

.right-popUP .gorunmez {
  top: -10px;
  width: 100%;
  height: 30px;
  z-index: -1;
}
.right-popUP {
  width: 320px;
  background-color: #fff;
  position: absolute;
  top: 75px;
  right: 0;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 14px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 10px 15px;
  display: none;
  z-index: 1;
  animation: popup 1s;
}
.right-popUP li {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: -1px;
  height: 140px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #1c1d1f;
}

.right-popUP li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: #1b1a1a;
  color: #fff;
  font-size: 18px;
}
.right-popUP li a:hover {
  background: #000;
}

/*! right-popUP */

/* ! SHOP CART */

.shop:hover .shop-cart {
  display: block !important;
}

.shop-cart {
  position: absolute;
  top: 75px;
  right: 250px;
  max-width: 280px;
  width: 100%;
  min-height: 100px;
  max-height: 600px;
  background-color: rgb(255, 255, 255);

  display: none;
  /*  */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: popup 1s;

  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shop-cart .dn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.shop-cart span {
  color: #6a6f73;
}
.shop-cart a {
  margin-top: 20px;
  color: #5624d0;
  font-weight: 700;
}

.shop .gorunmez {
  width: 100px;
  top: 50px;
  left: auto !important;
  right: 255px !important;
  height: 33px;
  z-index: 1;
}

.shop-item-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d1d7dc;
  cursor: pointer;
  transition: 0.2s;
}


.shop-item-wrapper .left {
  flex-basis: 100%;
  width: 50px;
  height: 60px;
}
.shop-item-wrapper .creator {
  font-size: 12px;
  font-weight: 500;
}
.shop-item-wrapper .headtexts {
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.shop-item-wrapper .right {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  gap: 5px;
}
.shop-item-wrapper .right .price {
  font-weight: 700;
  font-size: 13px;
}

.counter {
  display: none;
  position: absolute;
  top: 10px;
  right: 250px;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #a435f0;
  color: #fff;
  font-size: 13px;
}
.shop-item-wrapper-all-wrapper {
  position: relative;
  padding: 10px;
  max-height: 360px;
  /* overflow-y: scroll; */
}

.total {
  left: 0;
  bottom: 0%;
  width: 100%;
}

.total-price {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  padding: 10px;
}
.current-price {
  font-weight: 700;
  font-size: 18px;
  color: #2f2f2f !important;
  margin-top: 10px;
}

.btns {
  width: 100%;
  height: 40px;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}
.btns:hover {
  background-color: #000;
}
/* ! SHOP CART */

/* Header end */

/* .page -1  */

.page-1 .slider {
  max-width: 1340px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.slider-main {
  width: 200%;
  display: flex;
  transition: 1s;

  height: 400px;
  min-height: 280px;

  height: auto;
  overflow: hidden;
}
.page-1 .slider .slider-wrapper {
  display: flex;
  height: auto;
  overflow: hidden;
}
/*  */
.page-1 .slider .slider-wrapper .slide {
  transition: 1s;
  position: relative;
  overflow: hidden;
}
.page-1 .slider .slider-wrapper .slimg {
  max-width: 1340px;
  width: 100vw;
  height: auto;
  object-fit: contain;
  object-position: initial;
}
/*  */
.page-1 .slider .button-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  padding: 0 20px;
}
.page-1 .slider .button-wrapper button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.page-1 .slider .button-wrapper button:hover {
  background-color: #2f2f2f;
}

.page-1 .slider .slider-wrapper .content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 440px;
  width: 40.9259vw;
  min-height: 205px;
  padding: 24px;
  background-color: #fff;
  position: absolute;
  top: 4vw;
  left: 6vw;
}
.page-1 .slider .slider-wrapper .slide.slide2 .content {
  height: 150px;
}
.page-1 .slider .slider-wrapper .content span {
  font-size: 2em;
  font-weight: 600;
  font-family: "Bitter", serif;
  display: inline-block;
  margin-bottom: 15px;
  color: #1c1d1f;
}
.page-1 .slider .slider-wrapper .content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.page-1 .slider .slider-wrapper .content a {
  margin-top: 20px;
  height: 48px;
  background-color: #202020;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0 12px;
}

.page-1 .slider .slider-wrapper .content a:hover {
  background-color: #000;
}

/* Page 1 end */

/* page 2 */
.page-2 {
  margin: 50px 0;
}
.page-2 .header {
  margin-bottom: 40px;
}
.page-2 .header h1 {
  color: #1c1d1f;
  font-size: 2rem;
  letter-spacing: -1.5px;
  margin-bottom: 22px;
}

.page-2 .header p {
  display: inline-block;
  padding-left: 4px;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: -1px;
}

.page-2 .filter-wrapper {
  margin-bottom: 15px;
}

.page-2 .filter-wrapper button {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1.4px;
  color: #6a6f73;
  cursor: pointer;
}

.text-active,
.page-2 .filter-wrapper button:hover {
  color: #000 !important;
}

.page-2 .main-content {
  max-width: 1290px;
  width: 100%;
  min-height: 540px;
  border: 1px solid #d1d7dc;
  padding: 37px 33px;
}
.page-2 .main-content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  gap: 20px;
}
.page-2 .main-content .text-content h2 {
  font-size: 1.4em;
  letter-spacing: -1.2px;
}
.page-2 .main-content .text-content p {
  height: 68px;
  position: relative;
  line-height: 23px;
  letter-spacing: -1.1px;
  text-overflow: ellipsis;
  font-weight: 410;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.page-2 .main-content .text-content a {
  border: 1px solid black;
  padding: 0 12px;
  height: 40px;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  letter-spacing: -1px;
  font-weight: 900;
  font-size: 14px;
}
.page-2 .main-content .text-content a:hover {
  background-color: #f5f5f5;
}
/* Cart */
.page-2 .main-content .card-slide-wrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}

.page-2 .main-content .card-wrapper .card {
  min-width: 180px;
  max-width: 240px;
  margin-bottom: 40px;
  cursor: pointer;
  position: relative;
}
.page-2 .main-content .card-wrapper .card::before {
  content: "";
  position: absolute;
  background-color: #6a6f7332;
  height: 130px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: 0.15s !important;
}

.page-2 .main-content .card-wrapper .card:hover::before {
  opacity: 1;
}

.best{
  position: absolute;
  background-color: #eceb98;
  bottom: -30px;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 8px;
}


.bgimg {
  width: 100%;
  height: 129px;
  /* background: url("https://img-b.udemycdn.com/course/240x135/567828_67d0.jpg") no-repeat center/cover; */
  position: relative;
}

.page-2 .main-content .card-wrapper .card .score {
  display: flex;
  align-items: center;
  gap: 5px;
}

.page-2 .main-content .card-wrapper .card .text-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page-2 .main-content .card-wrapper .card .text-section .creator {
  font-size: 12px;
  font-weight: 500;
}

.page-2 .main-content .card-wrapper .card .text-section .score .rating {
  color: #b4690e;
  font-weight: 700;
}

.page-2 .main-content .card-wrapper .card .text-section .score .nmbr-of-people {
  color: #6a6f73;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.page-2 .main-content .card-wrapper .card .text-section .price {
  font-weight: 700;
}

.page-2 .main-content .card-wrapper .card .text-section h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
}
.page-2 .main-content .card-wrapper .card .img-border {
  border: 1px solid #d2d2d2;
}
.page-2 .main-content .card-wrapper .card .img-border img {
  width: 238px;
  height: 135px;
}
.page-2
  .main-content
  .card-wrapper
  .card
  .text-section
  .score
  .star-wrapper
  img {
  width: 12px;
  height: 12px;
}
/* Cart */

/* page2 end */

/* Page 3 */
.page-slider-wrapper{
  overflow: hidden;
  position: relative;
  transition: 0.4s;
}

/* Cart */

/* 
.page-slider-wrapper{

} */

.page-2 .button-wrapper {
  position: absolute;
  width: 103%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 35%;
  left: -18px;
  padding: 0 20px;
  background: none !important;
  height: 0;
  z-index: 1;
}
.page-2 .button-wrapper button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.page-2 .button-wrapper button:hover {
  background-color: #2f2f2f;
}




/* Page 3 end */









@media (max-width: 1080px) {
  .del:first-child {
    display: none;
  }
}

@media (max-width: 980px) {
  .page-1 .slider .slider-wrapper .content {
    height: 240px;
    width: 340px;
  }
  .page-1
    .slider
    .slider-wrapper
    .content
    span:not(.slide.slide2 .content span) {
    font-size: 1.5em;
  }
}

@media (max-width: 920px) {
  .del {
    display: none;
  }
  .popup-dvlp i {
    display: none;
  }
  .page-2 {
    margin: 20px 0 !important;
  }
}
