@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.mobile-prew{
  display: none !important;
}

body{
    overflow-x: hidden;
}

.container {
  max-width: 1415px;
  width: 100%;
  padding: 0 30px;
  margin: auto;
}

.del {
  position: relative;
  cursor: default;
}
.del:hover{
  color: #5624d0;
}
.cursor {
  cursor: pointer;
}
.small {
  font-size: 13px;
  letter-spacing: -0.3px !important;
  min-width: 120px;
  font-weight: 500;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small2{
  min-width: 90px !important;
}

/* Pop up animation */

@keyframes popup {
  0%{
    scale: 0.9;
  }
  25%{
    scale: 1;
  }
}